{% extends 'base.html.twig' %}

{% block body %}
    <div class="container justify-content-center">
    <h2>{{ date.format('Y-m-d H:i:s') }} <span class="badge bg-secondary">{{ weather }}°C</span></h2>
    </div>

{% endblock %}
