{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle voiture{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle voiture</h1>

    {{ include('admin/admin_car/_form.html.twig') }}

    <a href="{{ path('app_admin_car_index') }}">Retour</a>
{% endblock %}
